@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
  font-family: 'Baloo 2', cursive;
  background: #abfecc;
  color: #333;
}

h1 {
  text-align: center;
  color: rgb(66, 66, 66);
}

p {
  font-size: 2rem;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.601);
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  padding: .5rem;
  margin: .5rem;
  background-color: rgb(253, 154, 118);
  border: none;
  border-radius: .2rem;
  font-family: inherit;
  color: white;
  font-weight: bold;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}